<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Handler to route requests to index.js via iisnode -->
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <!-- URL Rewrite rules to redirect to index.js -->
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <!-- Rewrite all requests to index.js -->
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- iisnode specific configuration -->
    <iisnode watchedFiles="web.config;*.js" loggingEnabled="true" />
  </system.webServer>
</configuration>
